<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="container-fluid" aria-label="Main navigation">
    <a class="navbar-brand" routerLink="/">Resistor Color Code Calculator</a>

    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/resistor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Resistor</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jprivet-dev/resistor-color-code-calculator" target="_blank">
            GitHub
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <button ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Language</button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><button ngbDropdownItem class="dropdown-item">English</button></li>
            <li><button ngbDropdownItem class="dropdown-item">Français</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
