<header class="navbar navbar-expand-lg navbar-dark bg-dark" *transloco="let t">
  <nav class="container-fluid" aria-label="Main navigation">
    <a class="navbar-brand" routerLink="/">Resistor Color Code Calculator</a>

    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav me-md-auto">
        <li class="nav-item">
          <a routerLink="/resistor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
            {{ t("resistor") | titlecase }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" >
            {{ t("about") | titlecase }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jprivet-dev/resistor-color-code-calculator" target="_blank">
            {{ t("github") | titlecase }}
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item dropdown">
          <button ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ t("language") | titlecase }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li *ngFor="let conf of langConfig">
              <button ngbDropdownItem (click)="setLang(conf.lang)" class="dropdown-item">{{ conf.label }}</button>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <button ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ t("theme") | titlecase }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li *ngFor="let conf of themeConfig">
              <button ngbDropdownItem (click)="setTheme(conf.theme)" class="dropdown-item">
                {{ t(conf.key) | titlecase }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
