<div *transloco="let t" class="container-xxl pt-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 jprivet-dev</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="https://twitter.com/jprivet_dev" target="_blank" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/jprivet-dev" target="_blank" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/jprivet" target="_blank" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li class="nav-item border-start ms-2 ps-1">
        <span class="nav-link px-2 text-body-secondary">v1.0.0</span>
      </li>
    </ul>
  </footer>
</div>
