<ng-container *transloco="let t">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs nav-fill">
        <li [ngbNavItem]="1">
            <button ngbNavLink>
                <h4 class="mb-0">{{ t('characteristics') | titlecase }}</h4>
            </button>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ t('label') | titlecase }}</th>
                                <th scope="col">{{ t('value') | titlecase }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ t('resistance') | titlecase }}</th>
                                <td>{{ resistance$ | async | format: 'resistance' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ t('resistanceMax') | titlecase }}</th>
                                <td>{{ resistanceMax$ | async | format: 'resistanceMax' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ t('resistanceMin') | titlecase }}</th>
                                <td>{{ resistanceMin$ | async | format: 'resistanceMin' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ t('label') | titlecase }}</th>
                                <th scope="col">{{ t('value') | titlecase }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ t('tolerance') | titlecase }}</th>
                                <td>{{ tolerance$ | async | format: 'tolerance' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ t('toleranceOhm') | titlecase }}</th>
                                <td>{{ toleranceOhm$ | async | format: 'toleranceOhm' }}</td>
                            </tr>
                            <tr *ngIf="(thermalCoefficient$ | async) as thermalCoefficient">
                                <th scope="row">{{ t('thermalCoefficient') | titlecase }}</th>
                                <td>{{ thermalCoefficient | format: 'thermalCoefficient' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </li>
        <!--        TODO: to activate later-->
        <!--        <li [ngbNavItem]="2">-->
        <!--            <button ngbNavLink>-->
        <!--                <h4 class="mb-0">{{ t('ohmLaw') | titlecase }} - {{ t('charts') | titlecase }}</h4>-->
        <!--            </button>-->
        <!--            <ng-template ngbNavContent>-->
        <!--                <h1 class="card-title pricing-card-title">-->
        <!--                    {{ 5 | format: 'tolerance' }}-->
        <!--                </h1>-->
        <!--                <ul class="list-unstyled mt-3">-->
        <!--                    <li>{{ 28 | format: 'toleranceOhm' }}</li>-->
        <!--                </ul>-->
        <!--            </ng-template>-->
        <!--        </li>-->
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-container>

