<ng-container *transloco="let t">
  <ng-container *ngIf="(decode$ | async) as decode">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs nav-fill">
      <li [ngbNavItem]="1">
        <button ngbNavLink>
          <h4 class="mb-0">{{ t('characteristics') | titlecase }}</h4>
        </button>
        <ng-template ngbNavContent>
          <div class="d-flex justify-content-center">
            <table class="table table-striped table-characteristics">
              <thead>
              <tr>
                <th scope="col">{{ t('label') | titlecase }}</th>
                <th scope="col">{{ t('value') | titlecase }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">{{ t('resistance') | titlecase }}</th>
                <td>{{ resistance$ | async | format: 'resistance' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ t('resistanceMax') | titlecase }}</th>
                <td>{{ resistanceMax$ | async | format: 'resistance' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ t('resistanceMin') | titlecase }}</th>
                <td>{{ resistanceMin$ | async | format: 'resistance' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ t('tolerance') | titlecase }}</th>
                <td>{{ tolerance$ | async | format: 'tolerance' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ t('toleranceOhm') | titlecase }}</th>
                <td>{{ toleranceOhm$ | async | format: 'toleranceOhm' }}</td>
              </tr>
              <tr *ngIf="decode.thermalCoefficient.active">
                <th scope="row">{{ t('thermalCoefficient') | titlecase }}</th>
                <td>{{ thermalCoefficient$ | async | format: 'thermalCoefficient' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
      <!--        TODO: to activate later-->
      <!--        <li [ngbNavItem]="2">-->
      <!--            <button ngbNavLink>-->
      <!--                <h4 class="mb-0">{{ t('ohmLaw') | titlecase }} - {{ t('charts') | titlecase }}</h4>-->
      <!--            </button>-->
      <!--            <ng-template ngbNavContent>-->
      <!--                <h1 class="card-title pricing-card-title">-->
      <!--                    {{ 5 | format: 'tolerance' }}-->
      <!--                </h1>-->
      <!--                <ul class="list-unstyled mt-3">-->
      <!--                    <li>{{ 28 | format: 'toleranceOhm' }}</li>-->
      <!--                </ul>-->
      <!--            </ng-template>-->
      <!--        </li>-->
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>
</ng-container>

