$transition-delay: 0.3s;

.color-name {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;

  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
}

.circle-color {
  $width: 1rem;
  display: inline-block;
  width: $width;
  height: $width;
  margin: 0.25rem 0.5rem 0 0;
  vertical-align: top;
  border-radius: 50%;
}

.btn-color {
  &:disabled {
    --bs-btn-disabled-opacity: 0.2;
    border-color: transparent;
  }

  &.active,
  &:hover {
    border-color: var(--bs-btn-active-border-color);
  }
}

@media (max-width: 575px) {
  .bands-count-radios {
    label {
      --bs-btn-padding-y: 0.25rem;
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-font-size: 0.875rem;
      --bs-btn-border-radius: var(--bs-border-radius-sm);
    }
  }
}

.resistor-object {
  $width: 300px;
  $heigth: 70px;
  $bandWidth: 18px;
  $leadsHeigth: 10px;
  $widthBands6: $width + 2*$bandWidth;

  position: relative;
  width: $width;
  height: $heigth;
  transform: scale(1);
  transition: width $transition-delay, transform $transition-delay;

  .leads {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $heigth/2 + $leadsHeigth/2;
    border-style: solid;
    border-color: #9D9D9D;
    border-width: $leadsHeigth $leadsHeigth 0 $leadsHeigth;
  }

  .body {
    position: absolute;
    height: $heigth;
    top: 0;
    left: 40px;
    right: 40px;

    padding: 0 $bandWidth;
    background-color: #DEB96F;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33%;
      border-bottom-right-radius: var(--bs-border-radius-lg) !important;
      border-bottom-left-radius: var(--bs-border-radius-lg) !important;
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  .band {
    position: relative;
    width: 0;
    margin: 0;
    opacity: 0;
    transition: width $transition-delay, margin $transition-delay, opacity $transition-delay, background-color $transition-delay;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33%;
      background-color: rgba(0, 0, 0, 0.10);
    }
  }

  .band-tolerance {
    margin-left: auto;
  }

  .band-digit1,
  .band-digit2,
  .band-digit3,
  .band-multiplier {
    &.active {
      width: $bandWidth;
      margin-right: $bandWidth;
      opacity: 1;
    }
  }

  .band-tolerance {
    &.active {
      width: $bandWidth;
      opacity: 1;
    }
  }

  .band-thermalCoefficient {
    &.active {
      width: $bandWidth;
      margin-left: $bandWidth;
      opacity: 1;
    }
  }

  &.bands-6 {
    width: $widthBands6;
  }
}

@media (max-width: 992px) {
  .resistor-object {
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .resistor-object {
    transform: scale(0.65);
  }
}

.table-colors {
  $full-width: 100%;
  $column-min-width: 140px;
  min-width: 700px;

  thead th {
    height: 65px;
  }

  &.bands-3,
  &.bands-4 {
    min-width: $column-min-width * 5;

    th, td {
      width: $full-width/5;
    }
  }

  &.bands-5 {
    min-width: $column-min-width * 6;

    th, td {
      width: $full-width/6;
    }
  }

  &.bands-6 {
    min-width: $column-min-width * 7;

    th, td {
      width: $full-width/7;
    }
  }
}

.characteristics {
  text-align: center;
  min-width: 80%;
  background-color: rgba(0, 0, 0, 0.05);

  h1 {
    font-size: calc(1.325rem + 2vw);
  }

  h2 {
    font-size: calc(1.325rem + 0.4vw);
  }
}
