:host {
  // TODO: hack because the host disrupts the flex behaviour of .offcanvas-header and .offcanvas-header
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.series-E12 {
  max-width: 1920px;
  margin: 0 auto;
}

.btn-choose-resistor {
  position: relative;
  padding: 0;

  .bands-colors {
    overflow: hidden;

    .color {
      width: 8px;
      height: 100%;
      border: none;
    }
  }
}
