<ng-container *transloco="let t">
  <ng-container *ngIf="(decode$ | async) as decode">
    <div class="row">
      <div class="col-md-7">
        <div class="d-flex justify-content-center pt-4 pb-3">
          <app-resistor-nav-bands
            [decode]="decode"
            [bandsCounts]="bandsCounts"
            (bandsCountEvent)="setBandsCount($event)"
          ></app-resistor-nav-bands>
        </div>
        <div class="d-flex justify-content-center pt-3 pb-4">
          <app-resistor-object
            [decode]="decode"
          ></app-resistor-object>
        </div>
      </div>
      <div class="col-md-5">
        <div class="d-flex h-100 justify-content-center align-items-center my-1">
          <div class="characteristics py-2 px-4 rounded-pill">
            <h1>
              {{ resistance$ | async | format: 'resistance' }}
            </h1>
            <h2 class="text-secondary">
              {{ tolerance$ | async | format: 'tolerance' }}
              <ng-container *ngIf="decode.thermalCoefficient.active">
                - {{ thermalCoefficient$ | async | format: 'thermalCoefficient' }}
              </ng-container>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-3">
      <app-resistor-table-colors
        [decode]="decode"
        [bandsColors]="bandsColors"
        [resistorConfig]="resistorConfig"
        (digit1Event)="updateDigit1($event)"
        (digit2Event)="updateDigit2($event)"
        (digit3Event)="updateDigit3($event)"
        (multiplierEvent)="updateMultiplier($event)"
        (toleranceEvent)="updateTolerance($event)"
        (thermalCoefficientEvent)="updateThermalCoefficient($event)"
      ></app-resistor-table-colors>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
      <button (click)="openOffcanvasE12()" [title]="t('selectResistorInSeriesE12')"
              class="btn btn-outline-primary">
        {{ t('seriesE12') }}
      </button>
      <button (click)="openOffcanvasE24()" [title]="t('selectResistorInSeriesE24')"
              class="btn btn-outline-primary">
        {{ t('seriesE24') }}
      </button>
      <button (click)="openOffcanvasArduinoStarterKit()" [title]="t('selectResistorInArduinoStarterKit')"
              class="btn btn-outline-primary">
        {{ t('arduinoStarterKit') }}
      </button>
    </div>
  </ng-container>
</ng-container>
