<ng-container *transloco="let t">
  <ng-container *ngIf="seriesName$ | async as seriesName">
    <ng-container *ngIf="resistance$ | async as resistance">
    <ng-container *ngIf="decode$ | async as decode">
      <div class="offcanvas-header">
        <div class="title">
          <select class="form-select form-select-lg" (change)="updateSeries($event)">
            <option value="E24" [selected]="seriesName === 'E24'">
              {{ t('seriesE24') | title }}
            </option>
            <option value="E96" [selected]="seriesName === 'E96'">
              {{ t('seriesE96') | title }}
            </option>
            <option value="ArduinoStarterKit" [selected]="seriesName === 'ArduinoStarterKit'">
              {{ t('arduinoStarterKit') | title }}
            </option>
          </select>
        </div>
        <button
          type="button"
          class="btn-close text-reset"
          aria-label="Close"
          (click)="closeOffcanvas()"
        ></button>
      </div>
      <div class="offcanvas-body">
        <app-resistor-series
          [seriesName]="seriesName"
          [resistance]="resistance"
          [decode]="decode"
          [seriesE24Items]="seriesE24Items"
          [seriesE96Items]="seriesE96Items"
          [arduinoStarterKitItems]="arduinoStarterKitItems"
          (seriesE24ItemEvent)="chooseSeriesE24Item($event)"
          (seriesE96ItemEvent)="chooseSeriesE96Item($event)"
        ></app-resistor-series>
      </div>
    </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
