<ng-container *transloco="let t">
    <ng-container *ngIf="(decode$ | async) as decode">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center pt-4 pb-3">
                    <div>
                        <ng-container *ngFor="let count of bandsCounts">
                            <input (click)="setBandsCount(count)" [checked]="decode.bandsCount === count"
                                   type="radio" class="btn-check" name="bands-count"
                                   id="{{ 'bands-count-radio-' + count }}"
                                   autocomplete="off">
                            <label class="btn btn-outline-primary rounded-pill mx-1"
                                   for="{{ 'bands-count-radio-' + count }}">
                                {{ t('bands', {bandsCount: count}) }}
                            </label>
                        </ng-container>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-3">
                    <div class="resistor-object {{ 'bands-' + decode.bandsCount }}">
                        <div class="leads rounded-top-4"></div>
                        <div class="body rounded-3 d-flex align-self-stretch">
                            <div [appResistorColor]="decode.digit1.color"
                                 ngbTooltip="{{ t('digit1') | titlecase }}" placement="bottom"
                                 class="band band-digit1 border-0"
                            ></div>
                            <div [appResistorColor]="decode.digit2.color"
                                 ngbTooltip="{{ t('digit2') | titlecase }}" placement="bottom"
                                 class="band digit2 border-0"
                            ></div>
                            <div [appResistorColor]="decode.digit3.color"
                                 *ngIf="decode.digit3.active"
                                 ngbTooltip="{{ t('digit3') | titlecase }}" placement="bottom"
                                 class="band band-digit3 border-0"
                            ></div>
                            <div [appResistorColor]="decode.multiplier.color"
                                 ngbTooltip="{{ t('multiplier') | titlecase }}" placement="bottom"
                                 class="band band-multiplier border-0"
                            ></div>
                            <div [appResistorColor]="decode.tolerance.color"
                                 *ngIf="decode.tolerance.active"
                                 ngbTooltip="{{ t('tolerance') | titlecase }}" placement="bottom"
                                 class="band band-tolerance border-0"
                            ></div>
                            <div [appResistorColor]="decode.thermalCoefficient.color"
                                 *ngIf="decode.thermalCoefficient.active"
                                 ngbTooltip="{{ t('thermalCoefficient') | titlecase }}" placement="bottom"
                                 class="band band-thermalCoefficient border-0"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="characteristics py-3 px-4 border rounded-3 bg-body-tertiary">
                        <h1>
                            {{ resistance$ | async | format: 'resistance' }}
                        </h1>
                        <h2 class="text-secondary">
                            {{ tolerance$ | async | format: 'tolerance' }}
                        </h2>
                        <h2 *ngIf="(thermalCoefficient$ | async) as thermalCoefficient" class="text-secondary">
                            {{ thermalCoefficient | format: 'thermalCoefficient' }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center py-3">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">
                        {{ t('color') | titlecase }}
                    </th>
                    <th scope="col" class="pb-0">
                        {{ t('digit1') | titlecase }}
                        <div [appResistorColor]="decode.digit1.color" class="p-1 rounded-pill"></div>
                    </th>
                    <th scope="col" class="pb-0">
                        {{ t('digit2') | titlecase }}
                        <div [appResistorColor]="decode.digit2.color" class="p-1 rounded-pill"></div>
                    </th>
                    <th scope="col" class="pb-0" *ngIf="decode.digit3.active">
                        {{ t('digit3') | titlecase }}
                        <div [appResistorColor]="decode.digit3.color" class="p-1 rounded-pill"></div>
                    </th>
                    <th scope="col" class="pb-0">
                        {{ t('multiplier') | titlecase }}
                        <div [appResistorColor]="decode.multiplier.color" class="p-1 rounded-pill"></div>
                    </th>
                    <th scope="col" class="pb-0">
                        {{ t('tolerance') | titlecase }}
                        <div [appResistorColor]="decode.tolerance.color" class="p-1 rounded-pill"></div>
                    </th>
                    <th scope="col" class="pb-0" *ngIf="decode.thermalCoefficient.active">
                        {{ t('thermalCoefficient') | titlecase }}
                        <div [appResistorColor]="decode.thermalCoefficient.color"
                             class="p-1 rounded-pill"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let color of bandsColors">
                    <!-- colors -->
                    <th scope="row">
                        <div [appResistorColor]="color" class="color-name text-start rounded-pill">
                            {{ t('colorName.' + color) | titlecase }}
                        </div>
                    </th>
                    <!-- digit1 -->
                    <td>
                        <div *ngIf="resistorConfig.digit1[color]" class="d-grid">
                            <button (click)="updateDigit1(color)"
                                    [class.active]="decode.digit1.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.digit1[color] }}
                            </button>
                        </div>
                    </td>
                    <!-- digit2 -->
                    <td>
                        <div *ngIf="resistorConfig.digit2[color]" class="d-grid">
                            <button (click)="updateDigit2(color)"
                                    [class.active]="decode.digit2.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.digit2[color] }}
                            </button>
                        </div>
                    </td>
                    <!-- digit3 -->
                    <td *ngIf="decode.digit3.active">
                        <div *ngIf="resistorConfig.digit3[color]" class="d-grid">
                            <button (click)="updateDigit3(color)"
                                    [class.active]="decode.digit3.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.digit3[color] }}
                            </button>
                        </div>
                    </td>
                    <!-- multiplier -->
                    <td>
                        <div *ngIf="resistorConfig.multiplier[color]" class="d-grid">
                            <button (click)="updateMultiplier(color)"
                                    [class.active]="decode.multiplier.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.multiplier[color] | format: 'multiplier' }}
                            </button>
                        </div>
                    </td>
                    <!-- tolerance -->
                    <td>
                        <div *ngIf="resistorConfig.tolerance[color]" class="d-grid">
                            <button (click)="updateTolerance(color)"
                                    [class.active]="decode.tolerance.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.tolerance[color] | format: 'tolerance' }}
                            </button>
                        </div>
                    </td>
                    <!-- thermalCoefficient -->
                    <td *ngIf="decode.thermalCoefficient.active">
                        <div *ngIf="resistorConfig.thermalCoefficient[color]" class="d-grid">
                            <button (click)="updateThermalCoefficient(color)"
                                    [class.active]="decode.thermalCoefficient.color === color"
                                    class="btn btn-color text-start rounded-pill" type="button">
                                <span [appResistorColor]="color" class="circle-color"></span>
                                {{ resistorConfig.thermalCoefficient[color] | format: 'thermalCoefficient' }}
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</ng-container>
