<ng-container *transloco="let t">
  <div *ngIf="(resistor$ | async) as resistor">
    <div class="row">
      <div class="col-md">
        <div class="d-flex justify-content-center pt-5 pb-3">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <ng-container *ngFor="let bandsCount of resistorBandsCountList">
              <input
                (click)="setBandsCount(bandsCount)" [checked]="resistor.bandsCount === bandsCount"
                type="radio" class="btn-check" name="btnradio" id="{{ 'bands-count-radio-' + bandsCount }}" autocomplete="off"
              >
              <label class="btn btn-outline-primary" for="{{ 'bands-count-radio-' + bandsCount }}">
                {{ t('bands', { bandsCount }) }}
              </label>
            </ng-container>
          </div>
        </div>

        <div class="d-flex justify-content-center py-3">
          <div class="resistor-object rounded-2 {{ 'bands-count-' + resistor.bandsCount }} d-flex align-self-stretch">
            <div
              *ngFor="let bandName of getBandsNameListByBandsCount(resistor.bandsCount)"
              [style.background-color]="resistor[bandName].color"
              class="band band-{{ bandName }}"
            ></div>
          </div>
        </div>

        <div class="d-flex justify-content-center py-3" *ngIf="getBandsNameListByBandsCount(resistor.bandsCount) as bandsName">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ t('color') | titlecase }}</th>
                <th scope="col">{{ t('digit1') | titlecase }}</th>
                <th scope="col">{{ t('digit2') | titlecase }}</th>
                <th scope="col" *ngIf="bandsName.includes('digit3')">{{ t('digit3') | titlecase }}</th>
                <th scope="col" *ngIf="bandsName.includes('multiplier')">{{ t('multiplier') | titlecase }}</th>
                <th>{{ t('tolerance') | titlecase }}</th>
                <th scope="col" *ngIf="bandsName.includes('thermalCoefficient')">{{ t('thermalCoefficient') | titlecase }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let color of bandColorList">
                <th scope="row">{{ t('colorName.' + color) | titlecase }}</th>
                <td>{{ bandsValuesConfig.digit1[color] }}</td>
                <td>{{ bandsValuesConfig.digit2[color] }}</td>
                <td *ngIf="bandsName.includes('digit3')">{{ bandsValuesConfig.digit3[color] }}</td>
                <td *ngIf="bandsName.includes('multiplier')">{{ bandsValuesConfig.multiplier[color] | format: 'multiplier' }}</td>
                <td>{{ bandsValuesConfig.tolerance[color] | format: 'tolerance' }}</td>
                <td *ngIf="bandsName.includes('thermalCoefficient')">{{ bandsValuesConfig.thermalCoefficient[color] | format: 'thermal_coefficient' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md bg-body-secondary">
        Column
      </div>
    </div>

  </div>
</ng-container>
