<ng-container *transloco="let t">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-2 row-cols-xxl-3 mb-4 g-4 text-center">
        <div class="col">
            <div class="card h-100 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">
                        {{ t('resistance') | titlecase }}
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        {{ resistance$ | async | format: 'resistance' }}
                    </h1>
                    <ul class="list-unstyled mt-3">
                        <li>{{ 588 | format: 'resistanceMax' }}</li>
                        <li>{{ 532 | format: 'resistanceMin' }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">
                        {{ t('tolerance') | titlecase }}
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        {{ 5 | format: 'tolerance' }}
                    </h1>
                    <ul class="list-unstyled mt-3">
                        <li>{{ 28 | format: 'toleranceOhm' }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">
                        {{ t('power_rating') | titlecase }}
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        {{ 0.25 | format: 'power' }}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs nav-fill">
        <li [ngbNavItem]="1">
            <button ngbNavLink>
                <h4 class="mb-0">{{ t('characteristics') | titlecase }}</h4>
            </button>
            <ng-template ngbNavContent>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>
                <h4 class="mb-0">{{ t('ohm_s_law') | titlecase }} - {{ t('charts') | titlecase }}</h4>
            </button>
            <ng-template ngbNavContent>
                <h1 class="card-title pricing-card-title">
                    {{ 5 | format: 'tolerance' }}
                </h1>
                <ul class="list-unstyled mt-3">
                    <li>{{ 28 | format: 'toleranceOhm' }}</li>
                </ul>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-container>

