<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openBottom(contentOffcanvas)">Bottom position</button>

<ng-template #contentOffcanvas let-offcanvas>
  <div class="offcanvas-header bg-body-tertiary" *transloco="let t">
    <h4 class="offcanvas-title">{{ t('seriesE12') }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body bg-body-tertiary">
    <div class="container-fluid">
      <div class="series-E12">
        <button *ngFor="let item of generateSeriesE12()"
                (click)="chooseSeriesE12Item(item)"
                type="button" class="btn btn-outline-secondary btn-choose-resistor rounded-pill mx-2 mb-2">
          <div class="d-flex flex-row">
            <div class="bands-colors d-flex flex-row rounded-pill">
              <div class="color" [appResistorColor]="item.digit1Color"></div>
              <div class="color" [appResistorColor]="item.digit2Color"></div>
              <div class="color" [appResistorColor]="item.multiplierColor"></div>
              <div class="color" [appResistorColor]="item.toleranceColor"></div>
            </div>
            <div class="label text-light px-2 py-1">
              {{ item.value | format: 'resistance' }}
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</ng-template>
