<ng-container *transloco="let t">
  <p class="lead pt-4">
    {{ t('ohmsLawAppliedToResistance', {
      'resistance': resistance | format: 'resistance',
      'tolerance': tolerance | format: 'tolerance',
    }) }}
    {{ t('moreInfoOn') }}
    <a href="{{ t('ohmsLawLink') }}" target="_blank">
      {{t('wikipedia')}}
      <i class="bi bi-box-arrow-up-right ms-1"></i>
    </a>{{ t('colon') }}
  </p>
  <ng-container *ngIf="resistance">
    <!-- U = R * I -->
    <h3 class="mt-5">
      Calculer le voltage (U)
    </h3>
    <div class="row my-3">
      <div class="col-sm-11 offset-sm-1 col-md offset-md-0 mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text">U</span>
          <input type="text" class="form-control" [value]="calculateU(resistance) | format: 'volt'" disabled>
        </div>
        <div class="form-text">
          {{ t('voltage') | titlecase }}
        </div>
      </div>
      <div class="col-sm-1 mt-sm-3">
        <div class="d-flex justify-content-center mt-sm-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M48 128c-17.7 0-32 14.3-32 32s14.3 32 32 32H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H48zm0 192c-17.7 0-32 14.3-32 32s14.3 32 32 32H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H48z"/>
          </svg>
        </div>
      </div>
      <div class="col-sm mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text">R</span>
          <input type="text" class="form-control"
                 value="{{ resistance | format: 'resistance' }}"
                 disabled>
        </div>
        <div class="form-text">
          {{ t('resistance') | titlecase }}
        </div>
      </div>
      <div class="col-sm-1 mt-sm-3">
        <div class="d-flex justify-content-center mt-sm-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
          </svg>
        </div>
      </div>
      <div class="col-sm mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text bg-primary border-primary text-light">I</span>
          <input [(ngModel)]="i"
                 (change)="updateI($event)"
                 (keyup)="updateI($event)"
                 type="number" class="form-control border-primary" step="0.01">
        </div>
        <div class="d-flex justify-content-between form-text text-primary">
          <span>{{ t('current') | titlecase }}</span>
          <span>{{ i | format: 'ampere' }}</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <table class="table table-striped table-ohms-law-summary">
        <thead>
        <tr>
          <th scope="col">U</th>
          <th scope="col">R</th>
          <th scope="col">I</th>
          <th scope="col">P</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="resistanceMax">
          <td>{{ calculateU(resistanceMax) | format: 'volt' }}</td>
          <td>{{ resistanceMax | format: 'resistanceMax' }}</td>
          <td class="text-primary">{{ i | format: 'ampere' }}</td>
          <td>{{ calculatePower(calculateU(resistanceMax), i) | format: 'power' }}</td>
        </tr>
        <tr>
          <td>{{ calculateU(resistance) | format: 'volt' }}</td>
          <td>{{ resistance | format: 'resistance' }} {{ tolerance | format: 'tolerance' }}</td>
          <td class="text-primary">{{ i | format: 'ampere' }}</td>
          <td>{{ calculatePower(calculateU(resistance), i) | format: 'power' }}</td>
        </tr>
        <tr *ngIf="resistanceMin">
          <td>{{ calculateU(resistanceMin) | format: 'volt' }}</td>
          <td>{{ resistanceMin | format: 'resistanceMin' }}</td>
          <td class="text-primary">{{ i | format: 'ampere' }}</td>
          <td>{{ calculatePower(calculateU(resistanceMin), i) | format: 'power' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- I = U / R -->
    <h3 class="mt-5">
      Calculer l'intensité de courant (I)
    </h3>
    <div class="row my-3">
      <div class="col-sm-11 offset-sm-1 col-md offset-md-0 mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text">I</span>
          <input type="text" class="form-control"
                 value="{{ calculateI(resistance) | format: 'ampere' }}"
                 disabled>
        </div>
        <div class="form-text">
          {{ t('current') | titlecase }}
        </div>
      </div>
      <div class="col-sm-1 mt-sm-3">
        <div class="d-flex justify-content-center mt-sm-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M48 128c-17.7 0-32 14.3-32 32s14.3 32 32 32H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H48zm0 192c-17.7 0-32 14.3-32 32s14.3 32 32 32H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H48z"/>
          </svg>
        </div>
      </div>
      <div class="col-sm mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text bg-primary border-primary text-light">U</span>
          <input [(ngModel)]="u"
                 (change)="updateU($event)"
                 (keyup)="updateU($event)"
                 type="number" class="form-control border-primary" step="0.5">
        </div>
        <div class="d-flex justify-content-between form-text text-primary">
          <span>{{ t('voltage') | titlecase }}</span>
          <span>{{ u | format: 'volt' }}</span>
        </div>
      </div>
      <div class="col-sm-1 mt-sm-3">
        <div class="d-flex justify-content-center mt-sm-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M272 96a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 320a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 288c17.7 0 32-14.3 32-32s-14.3-32-32-32H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H400z"/>
          </svg>
        </div>
      </div>
      <div class="col-sm mt-3">
        <div class="input-group input-group-lg">
          <span class="input-group-text">R</span>
          <input type="text" class="form-control"
                 value="{{ resistance | format: 'resistance' }}"
                 disabled>
        </div>
        <div class="form-text">
          {{ t('resistance') | titlecase }}
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <table class="table table-striped table-ohms-law-summary">
        <thead>
        <tr>
          <th scope="col">I</th>
          <th scope="col">U</th>
          <th scope="col">R</th>
          <th scope="col">P</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="resistanceMax">
          <td>{{ calculateI(resistanceMax) | format: 'ampere' }}</td>
          <td class="text-primary">{{ u | format: 'volt' }}</td>
          <td>{{ resistanceMax | format: 'resistanceMax' }}</td>
          <td>{{ calculatePower(u, calculateI(resistanceMax)) | format: 'power' }}</td>
        </tr>
        <tr>
          <td>{{ calculateI(resistance) | format: 'ampere' }}</td>
          <td class="text-primary">{{ u | format: 'volt' }}</td>
          <td>{{ resistance | format: 'resistance' }}</td>
          <td>{{ calculatePower(u, calculateI(resistance)) | format: 'power' }}</td>
        </tr>
        <tr *ngIf="resistanceMin">
          <td>{{ calculateI(resistanceMin) | format: 'ampere' }}</td>
          <td class="text-primary">{{ u | format: 'volt' }}</td>
          <td>{{ resistanceMin | format: 'resistanceMin' }}</td>
          <td>{{ calculatePower(u, calculateI(resistanceMin)) | format: 'power' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
</ng-container>
