$transition-delay: 0.3s;

.resistor-object {
  $width: 300px;
  $heigth: 70px;
  $bandWidth: 18px;
  $leadsHeigth: 10px;
  $widthBands6: $width + 2*$bandWidth;

  position: relative;
  width: $width;
  height: $heigth;
  transform: scale(1);
  transition: width $transition-delay, transform $transition-delay;

  .leads {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $heigth/2 + $leadsHeigth/2;
    border-style: solid;
    border-color: #9D9D9D;
    border-width: $leadsHeigth $leadsHeigth 0 $leadsHeigth;
  }

  .body {
    position: absolute;
    height: $heigth;
    top: 0;
    left: 40px;
    right: 40px;

    padding: 0 $bandWidth;
    background-color: #DEB96F;
    transition: background-color $transition-delay;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33%;
      border-bottom-right-radius: var(--bs-border-radius-lg) !important;
      border-bottom-left-radius: var(--bs-border-radius-lg) !important;
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  &.bands-5,
  &.bands-6 {
    .body {
      background-color: #98D1E7;
    }
  }

  .band {
    position: relative;
    width: 0;
    margin: 0;
    opacity: 0;
    transition: width $transition-delay, margin $transition-delay, opacity $transition-delay, background-color $transition-delay;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33%;
      background-color: rgba(0, 0, 0, 0.10);
    }
  }

  .band-tolerance {
    margin-left: auto;
  }

  .band-digit1,
  .band-digit2,
  .band-digit3,
  .band-multiplier {
    &.active {
      width: $bandWidth;
      margin-right: $bandWidth;
      opacity: 1;
    }
  }

  .band-tolerance {
    &.active {
      width: $bandWidth;
      opacity: 1;
    }
  }

  .band-thermalCoefficient {
    &.active {
      width: $bandWidth;
      margin-left: $bandWidth;
      opacity: 1;
    }
  }

  &.bands-6 {
    width: $widthBands6;
  }
}

@media (max-width: 992px) {
  .resistor-object {
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .resistor-object {
    transform: scale(0.65);
  }
}
