<ng-container *transloco="let t">
  <ng-container *ngIf="decode">
    <div class="d-flex justify-content-center pt-4">
      <table class="table table-striped table-characteristics">
        <thead>
        <tr>
          <th scope="col">{{ t('label') | titlecase }}</th>
          <th scope="col">{{ t('value') | titlecase }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{ t('colors') | titlecase }}</th>
          <td>
            <span [appResistorColor]="decode.digit1.color"
                  [title]="t('colorName.' + decode.digit1.color)"
                  class="circle-color"></span>
            <span [appResistorColor]="decode.digit2.color"
                  [title]="t('colorName.' + decode.digit2.color)"
                  class="circle-color"></span>
            <span [appResistorColor]="decode.digit3.color"
                  *ngIf="decode.digit3.active"
                  [title]="t('colorName.' + decode.digit3.color)"
                  class="circle-color"></span>
            <span [appResistorColor]="decode.multiplier.color"
                  [title]="t('colorName.' + decode.multiplier.color)"
                  class="circle-color"></span>
            <span [appResistorColor]="decode.tolerance.color"
                  *ngIf="decode.tolerance.active"
                  [title]="t('colorName.' + decode.tolerance.color)"
                  class="circle-color"></span>
            <span [appResistorColor]="decode.thermalCoefficient.color"
                  *ngIf="decode.thermalCoefficient.active"
                  [title]="t('colorName.' + decode.thermalCoefficient.color)"
                  class="circle-color"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">{{ t('resistance') | titlecase }}</th>
          <td>{{ resistance | format: 'resistance' }}</td>
        </tr>
        <tr>
          <th scope="row">{{ t('resistanceMax') | titlecase }}</th>
          <td>{{ resistanceMax | format: 'resistance' }}</td>
        </tr>
        <tr>
          <th scope="row">{{ t('resistanceMin') | titlecase }}</th>
          <td>{{ resistanceMin | format: 'resistance' }}</td>
        </tr>
        <tr>
          <th scope="row">{{ t('tolerance') | titlecase }}</th>
          <td>{{ tolerance | format: 'tolerance' }}</td>
        </tr>
        <tr>
          <th scope="row">{{ t('toleranceOhm') | titlecase }}</th>
          <td>{{ toleranceOhm | format: 'toleranceOhm' }}</td>
        </tr>
        <tr *ngIf="decode.thermalCoefficient.active">
          <th scope="row">{{ t('thermalCoefficient') | titlecase }}</th>
          <td>{{ thermalCoefficient | format: 'thermalCoefficient' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
